/*==============================================================================================*

  +-----+-----+-----+-----+-----+-----+-----+
  | █▀▀ | ▄▀█ | █▀▀ | █▀▀ | ▄▀█ | █▀▄ | █▀▀ |
  | █▄▄ | █▀█ | ▄▄█ | █▄▄ | █▀█ | █▄▀ | ██▄ |
  +-----+-----+-----+-----+-----+-----+-----+

  Description:    Cascade is a minimalstic and keyboard centered custom theme removing a lot of the
                  subjective clutter default Firefox comes with. This theme is highly inspired by the
                  stylistic choices of SimpleFox by Miguel Ávila. 🦊
                  https://github.com/migueravila/SimpleFox

  Author:         Andreas Grafen
                  (https://andreas.grafen.info)

  Repository:     https://github.com/andreasgrafen/cascade
                  Thank you Nick, Abdallah, Benyamin and Wael for all the great suggestions for improvements! ♡

                  Nick:     https://github.com/nicksundermeyer
                  Abdallah: https://github.com/HeiWiper
                  Benyamin: https://github.com/benyaminl
                  Wael:     https://github.com/wael444

                  If you're looking for a **mouse-friendly** clone please check out Waterfall.
                  https://github.com/crambaud/waterfall

*==============================================================================================*/

@import "includes/cascade-config-mouse.css";
/* @import "includes/cascade-colours.css"; */
@import "includes/rose-pine-moon.css";

@import "includes/cascade-layout.css";
/* @import "includes/cascade-responsive.css"; */
@import "includes/cascade-floating-panel.css";

@import "includes/cascade-nav-bar.css";
@import "includes/cascade-tabs.css";

/* CUSTOM */
@import "custom-background.css";

/* Right click menu configuration */
/* context menu top left button padding */
menugroup > menuitem:first-child {  
    border-radius: 4px !important;
    padding-left: 8px !important;
}
/* context menu top right button padding */
menugroup > menuitem:last-child {  
    border-radius: 4px !important;
    padding-right: 8px !important;

}
/* context menu top buttons radius */
menugroup > menuitem {
    border-radius: 4px !important;
}
menugroup > menuitem > hbox > image {  
  border-radius: 4px !important;
}
/* for menu item with submenu  */
.panel-header > .subviewbutton {
    border-radius: 4px !important;
}

/* context menu padding */
menupopup > menuitem,
menupopup > menu {
  padding-block: 0.15em !important;
}
/* menu item padding */
toolbarbutton {
  --arrowpanel-menuitem-padding: 2px 8px;
}

/* Tabs / Tab Bar height */
:root {
  --tab-min-height: 26px !important;
}
:root #tabbrowser-tabs {
  /* needs to be the same as above under :root */ 
    --tab-min-height: 26px !important;
}

/* Shows all tabs. Always */
.tabbrowser-tab {
    min-width: initial !important;
}
.tab-content {
    overflow: hidden !important;
}

/* Remove forward button when not needed */
#forward-button[disabled="true"] { display: none; }