/* This file mainly has CSS stolen from the SimpleFox theme */

/* Tab close button only on hover */
.tab-close-button {
    display: none;
    border-radius: 100px !important;
}

/* Only show the close button on hover and when the tab is not pinned */
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: flex !important;
}

#nav-bar:not([tabs-hidden='true']) {
    box-shadow: none;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

.tabbrowser-tab:is([visuallyselected='true'], [multiselected])>.tab-stack>.tab-background {
    box-shadow: none !important;
}

.tabbrowser-tab[last-visible-tab='true'] {
    padding-inline-end: 0 !important;
}

#tabs-newtab-button {
    padding-left: 0 !important;
}